<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>showing</title>
</head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style_transfer/style.css' %}">
<body>
     <ol>
        <li>风格图片：<img  src=".{{  content_img.img.url }}"/></li>
        <li>内容图片：<img  src=".{{  style_img.img.url }}"/></li>
    </ol>
    <ol>
        <li>生成图片1：<img  src=".{{ result1_img_url }}"/></li>
        <li>生成图片2：<img  src=".{{ result2_img_url }}"/></li>
    </ol>
</body>
</html>